<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta fancyurlcode />
    <style>
      body {
        background-color: #F0F6FA;
        font-family: Helvetica, Arial, sans-serif;
      }
      h1 {
        color: #1C2326;
        font-size: 22px;
        line-height: 32px;
      }
      p {
        color: #1C2326;
        font-size: 16px;
        line-height: 24px;
      }
      a {color: #1478A6}
      .textbox {
        width: 70%;
        background: #fff;
        border-radius: 4px;
        padding: 25px;
        margin: 100px auto;
        align: center;
      }
    </style>

  </head>
  <div class="textbox">
    <h1>Natural resources revenue data is now at <a href="fancyurlcode">revenue data.doi.gov</a>. We&rsquo;re redirecting you now.</h1>
    <p>Didn&rsquo;t  work? <a href="fancyurlcode">Go to the revenue data now</a>.</p>
  </div>
</html
